@import url(http://fonts.googleapis.com/css?family=Wellfleet);

body {
	background-color: #523620;
	color: #fff;
	font-family: 'Wellfleet', times, serif;
	font-size: 150%;
	margin: 0px 0px 0px 0px;
}

h1 {
	/*background-image: url('images/bullseye-logo.png');
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;*/
	height: 109px;
	width: 643px;
	border: 1px solid red;
	margin: 20px auto;
	text-align: center;
}

#page1, #page2 {
	background-color: #fecc6f;
	height: 596px;
	padding: 10px;
	min-width: 779px;
	border: 1px solid rgb(76, 192, 40);
}

#page2 {
	height: 730px;
}


#blackboard {
	background-color: #425a5a;
	border: 25px solid #523620;
	border-radius: 20px;
	padding: 40px 20px;
	margin: 0px auto;
	height: 370px;
	width: 600px;
	text-align: center;
	line-height: 1.6;
}

#choices {
	border: 1px solid red;
	text-align: center;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
}

#operator {
	border: 1px solid green;
	text-align: center;
	font-size: 5px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.math {
	margin: 0px 20px;
	height: 50px;
	width: 50px;
	font-size: 30px;
}

#rand, #min, #max {
	width: 100px;
	text-align: center;
}
#min, #max {
	font-size: 20px;
	height: 50px;
}
#rand{
	font-size: 15px;
	height: 56px;
}

.num {
	height: 40px;
	width: 40px;
	margin: 9px 13px 9px;
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
}

.bb {
	display: flex;
	flex-direction: row;
	border: 1px solid brown;
}